{% load staticfiles i18n settings_getter %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE  %}
{% get_language_info for LANGUAGE_CODE as current_language %}
<!DOCTYPE html>
<html>
<head>
    {% render_bundle 'vendor' %}
    {% render_bundle 'common' %}
    <title>{% block title %}{% get_setting SITE_NAME %}{% endblock title %}</title>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">

    <script type="text/javascript">
        Forum.common.init({
          languageInfo: {
            code: '{{ current_language.code|escapejs }}',
            localName: '{{ current_language.name_local|escapejs }}',
            name: '{{ current_language.name|escapejs }}'
          },
          selectors: {
            navbar: 'body > nav.navbar-fixed-top'
          },
          scrollSpeed: 300
        });
    </script>
    {% block extra_scripts_head %}{% endblock extra_scripts_head %}
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <a class="navbar-brand" href="/">Forum</a>
    </nav>
{% comment %}
    <script type="text/javascript">
        require(['sidebar'], function (sidebar) {
          sidebar.init({
            selectors: {
              buttonToggle: '.navbar-toggle',
              sidebarWrapper: '.sidebar-wrapper',
              sidebarOverlay: '.sidebar-offcanvas-overlay'
            }
          });
        });
    </script>
{% endcomment %}
    <div class="container-fluid page-content-wrapper">
        {% block main_content %}{% endblock main_content %}
    </div>
</body>
</html>
