{% extends 'default/base.html' %}
{% from 'default/macros/render-form.html' import render_form with context %}

{% block main_content %}
<form method="post" action="{{ url('forum:account:login') }}" class="login-form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <legend>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        {{ _('Login') }}
    </legend>
    {{ render_form(form=auth_form) }}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i>
            {{ _('Submit') }}
        </button>
    </div>
</form>
{% endblock main_content %}
