# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
coverage/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

node_modules/
frontend/dist
frontend/webpack/stats.json
*.sublime*
logs/
venv/
tools/
static/
# Don't ignore static files under backend/, those have to be collected
!backend/*static
