beautifulsoup4==4.8.2
blessings==1.7
certifi==2019.11.28
colour-runner==0.1.1
Django==2.2.10
django-debug-toolbar==2.2
django-extensions==2.2.8
django-jinja==2.6.0
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.5
idna==2.8
Jinja2==2.11.1
markdown2==2.3.8
MarkupSafe==1.1.1
mysqlclient==1.4.6
pytz==2019.3
PyYAML==5.3
requests==2.22.0
rjsmin==1.1.0
soupsieve==1.9.5
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.8
