{% extends 'default/base.html' %}
{% from 'default/base/macros/topic-comment-template.html' import topic_comment_template with context %}
{% from 'default/base/macros/topic-comment-action-template.html' import topic_comment_action_template with context %}
{% from 'default/base/macros/js-config-topic-comment.html' import js_config_topic_comment %}
{% from 'default/macros/paginator-generic.html' import paginator_generic %}

{% block extra_scripts_head %}
{{ render_bundle('topicCommentListing') }}
{% endblock extra_scripts_head %}

{% block main_content %}
<article class="topic-comment-listing-wrapper">
    <template class="topic-comment-template">
    {{ topic_comment_template(is_template=True) }}
    </template>
    <template class="topic-comment-action-template">
    {{ topic_comment_action_template() }}
    </template>

    <section class="control-buttons text-center">
        <a href="{{ url('forum:base:topic-listing') }}" class="btn btn-primary">
            <span class="fa fa-home" aria-hidden="true"></span>
            {{ _('Back to topic listing') }}
        </a>
    </section>
    <section class="topic-description card card-block border-info mb-3" aria-label="{{ _('Topic description') }}">
        <div class="card-header">
            <h3 class="card-title topic-name text-center mb-0">
                <a href="{{ url('forum:base:topic-comment-listing', topic_slug=topic.slug) }}">
                    {{ topic.name_html }}
                </a>
            </h3>
        </div>
        {%- if topic.description %}
        <div class="card-body">
            {{ topic.description }}
        </div>
        {% endif -%}
    </section>
    <section class="pagination-comments">
        {{ paginator_generic(page=page_comments, adjacent_pages=django_settings.PAGINATOR_DEFAULT_ADJACENT_PAGES) }}
    </section>
    {% for comment in page_comments %}
        {{ topic_comment_template(comment=comment, is_template=False, show_invisible=False) }}
    {% endfor %}
    <section class="pagination-comments">
        {{ paginator_generic(page=page_comments, adjacent_pages=django_settings.PAGINATOR_DEFAULT_ADJACENT_PAGES) }}
    </section>
</article>

{% jsmin %}
<script type="text/javascript">
Forum.topicCommentListing.init({
    {{ js_config_topic_comment(listing_mode='commentListing', root='.topic-comment-listing-wrapper', comment_pk=comment_pk, scroll_to_pk=scroll_to_pk, topic=topic) }}
})
</script>
{% endjsmin %}

{% endblock main_content %}
