{% extends 'default/base.html' %}
{% from 'default/base/macros/topic-comment-template.html' import topic_comment_template with context %}
{% from 'default/base/macros/topic-comment-action-template.html' import topic_comment_action_template with context %}
{% from 'default/base/macros/js-config-topic-comment.html' import js_config_topic_comment %}

{% block extra_scripts_head %}
{{ render_bundle('topicCommentListing') }}
{% endblock extra_scripts_head %}

{% block main_content %}
<article class="topic-comment-listing-wrapper">
    <template class="topic-comment-template">
    {{ topic_comment_template(is_template=True) }}
    </template>
    <template class="topic-comment-action-template">
    {{ topic_comment_action_template() }}
    </template>

    <section class="control-buttons text-center">
        <a href="{{ url('forum:base:topic-listing') }}" class="btn btn-primary">
            <span class="fa fa-home" aria-hidden="true"></span>
            {{ _('Back to topic listing') }}
        </a>
    </section>
    {% if topic.description %}
    <section class="card card-block border-info mb-1" aria-label="{{ _('Topic description') }}">
        <div class="card-body">
            {{ topic.description }}
        </div>
    </section>
    <hr class="mb-3">
    {% endif %}
    {% for comment in page_comments %}
        {{ topic_comment_template(comment=comment, is_template=False, show_invisible=False) }}
    {% endfor %}
</article>

{% jsmin %}
<script type="text/javascript">
Forum.topicCommentListing.init({
    {{ js_config_topic_comment(listing_mode='commentListing', root='.topic-comment-listing-wrapper', comment_pk=comment_pk, scroll_to_pk=scroll_to_pk, topic=topic) }}
})
</script>
{% endjsmin %}

{% endblock main_content %}
