{% extends 'default/base.html' %}
{% load i18n humanize jsmin %}
{% load render_bundle from webpack_loader %}

{% block extra_scripts_head %}
{% render_bundle 'topicCommentsExpansion' %}
{% endblock extra_scripts_head %}

{% block main_content %}
<article class="topic-comment-expansion-wrapper">
    <template class="topic-comment-template">
    {% include 'default/base/include/topic-comment-template.html' with is_template=True %}
    </template>
    <template class="topic-comment-action-template">
    {% include 'default/base/include/topic-comment-action-template.html' %}
    </template>

    <section class="control-buttons text-center">
        <a href="{% url 'base:topic-listing' %}" class="btn btn-primary">
            <span class="fa fa-home" aria-hidden="true"></span>
            {% trans 'Back to topic listing' %}
        </a>
    </section>
    {% for model_comment in qs_comments %}

        {% ifchanged model_comment.topic %}
        {% if not forloop.first %}
            </div>
        </section>
        {% endif %}
        <section class="card card-block card-outline-primary group-comments-in-topic" aria-label="{% trans 'Comments in the same topic' %}">
            <div class="card-text">
                <div class="topic-button-wrapper">
                    <a class="btn btn-primary" href="{% url 'base:topic-comment-listing' topic_slug=model_comment.topic.slug %}">
                        {{ model_comment.topic.name_html|safe }}
                    </a>
                </div>
        {% endifchanged %}

        {% include 'default/base/include/topic-comment-template.html' with model_comment=model_comment %}

        {% if forloop.last %}
            </div>
        </section>
        {% endif %}
    {% endfor %}
</article>
{% jsmin %}
<script type="text/javascript">
Forum.topicCommentsExpansion.init({
    {% include 'default/base/include/js-config-topic-comment.html' with type='expandCommentsUpRecursive' root='.topic-comment-expansion-wrapper' comment_id=comment_id scroll_to_id=scroll_to_id model_topic=model_topic %}
})
</script>
{% endjsmin %}
{% endblock main_content %}
