{% extends 'default/base.html' %}
{% load i18n humanize %}
{% load render_bundle from webpack_loader %}

{% block extra_scripts_head %}
{% render_bundle 'topicCommentListing' %}
{% endblock extra_scripts_head %}

{% block main_content %}
<article class="topic-comment-listing-wrapper">
    <template class="topic-comment-template">
    {% include 'default/base/include/topic-comment-template.html' with is_template=True %}
    </template>

    <section class="control-buttons text-center">
        <a href="{% url 'base:topic-listing' %}" class="btn btn-primary">
            <span class="fa fa-home" aria-hidden="true"></span>
            {% trans 'Back to topic listing' %}
        </a>
    </section>
    {% if model_topic.description %}
    <section class="card card-block card-outline-primary" aria-label="{% trans 'Topic description' %}">
        <div class="card-text">
            {{ model_topic.description|safe }}
        </div>
    </section>
    {% endif %}
    {% for model_comment in page_comments %}
        {% include 'default/base/include/topic-comment-template.html' with model_comment=model_comment %}
    {% endfor %}
</article>
<script type="text/javascript">
Forum.topicCommentListing.init({
    selectors: {
        root: '.topic-comment-listing-wrapper',
        template: '.topic-comment-template',
        commentWrapper: '.topic-comment-wrapper',
        previousLinks: '.comment-previous a[data-link-to]',
        answerLinks: '.to-answer-comment',
        selfLinks: '.comment-number-wrapper .comment-number'
    },
    highlightedClass: 'is-highlighted',
    scrollTo: {{ comment_id|default:'null' }},
    topicSlug: '{{ topic_slug|escapejs }}',
    urls: {
        commentListing: {
            backend: '{% url 'base:topic-comment-listing' topic_slug='example-slug' comment_id=12345 %}',
            exampleSlug: 'example-slug',
            commentId: '12345'
        }
    }
})
</script>
{% endblock main_content %}
