{% extends 'default/base.html' %}
{% load i18n humanize %}
{% load render_bundle from webpack_loader %}

{% block extra_scripts_head %}
{% render_bundle 'topicGroup' %}
{% render_bundle 'userName' %}
<script type="text/javascript">
Forum.userName.init({
    urls: {
        shortData: '{% url 'rest-api:v1-user-short' slug_list='example-slug' %}',
        exampleSlug: 'example-slug'
    },
    selectors: {
        template: '.forum-user-tooltip-template'
    }
})
</script>
{% endblock extra_scripts_head %}

{% block main_content %}
    {% include 'default/include/user-tooltip-template.html' %}

    {% include 'default/base/include/topic-group.html' with topic_list=topics_highlighted topic_type='highlighted' %}

    {% include 'default/base/include/topic-group.html' with topic_list=topics_normal topic_type='normal' %}

    {% include 'default/base/include/topic-group.html' with topic_list=topics_archived topic_type='archived' %}
{% endblock main_content %}
