{% load ellipsed_paginator %}
{% get_paginated_list page=page max_pages=5 as page_number_list %}
{% if page_number_list %}
<ul class="pagination">
    <li class="page-previous {% spaceless %}
        {% if page.number == 1 %}
            disabled
        {% endif %}
    {% endspaceless %}"><a href="#">«</a></li>

    {% for dict_page in page_number_list %}
        {% if dict_page.type == 'number' %}
        <li class="page-numbered {% spaceless %}
            {% if page.number == dict_page.number %}
                active
            {% endif %}
        {% endspaceless %}" data-page-id="{{ dict_page.number }}">
            <a href="#">{{ dict_page.number }}</a>
        </li>
        {% endif %}
    {% endfor %}
    <li class="page-next {% spaceless %}
        {% if page.number == page.paginator.num_pages %}
            disabled
        {% endif %}
    {% endspaceless %}"><a href="#">»</a></li>
</ul>
{% endif %}
