{% load ellipsed_paginator %}
{% get_paginated_list page=page adjacent_pages=2 as page_number_list %}
{% if page_number_list %}
<ul class="pagination" data-current-page="{{ page.number }}">
    <li class="{% spaceless %}
        {% if page.number == 1 %}
            disabled
        {% endif %}
    {% endspaceless %}"><a href="#">«</a></li>

    {% for page_number in page_number_list %}
    <li class="{% spaceless %}
        {% if page.number == page_number %}
            active
        {% endif %}
    {% endspaceless %}"><a href="#" data-pagenum="{{ page_number }}">{{ page_number }}</a></li>
    {% endfor %}
    <li class="{% spaceless %}
        {% if page.number == page.paginator.num_pages %}
            disabled
        {% endif %}
    {% endspaceless %}"><a href="#">»</a></li>
</ul>
{% endif %}
