{% load i18n %}
<template class="forum-user-tooltip-template">
    <table class="forum-user-tooltip">
        <tbody>
            <tr class="quote">
                <td class="property">{% trans 'Quote:' %}</td>
                <td class="value"></td>
            </tr>
            <tr class="is-admin">
                <td colspan="2">{% trans 'Administrator' %}</td>
            </tr>
            <tr class="is-banned">
                <td colspan="2">{% trans 'User is banned.' %}</td>
            </tr>
            <tr class="ratings">
                <td class="property">{% trans 'Accepted ratings' %}</td>
                <td class="value">
                    <span class="count"></span>
                    {% trans 'ratings, averaging' %}
                    <span class="average"></span>
                </td>
            </tr>
        </tbody>
    </table>
</template>
