{% macro render_messages() -%}
{% for message in messages.get_messages(request) -%}
    {%- set level_class = message.level_tag -%}
    {%- set extra_tags = '' -%}
    {% if message.extra_tags -%}
        {%- set extra_tags = ' ' + message.extra_tags -%}
    {%- endif %}
    {% if message.level_tag == 'error' -%}
        {%- set level_class = 'danger' -%}
    {%- endif %}
    <div class="alert alert-{{ level_class }} alert-dismissible fade show{{ extra_tags }}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{- message|e -}}
    </div>
{%- endfor %}
{%- endmacro %}
