{% macro render_form(form) -%}
<div class="forum-form-horizontal-wrapper">
    {% if form.errors.__all__ -%}
    <div class="global-error alert alert-danger" role="alert">
    {% for error in form.errors.__all__ -%}
        <p>{{ error|escape }}</p>
    {%- endfor %}
    </div>
    {%- endif %}
    {% for widget in form -%}
        {%- set widget_name = widget.field.widget.__class__.__name__ -%}
        <div class="widget-wrapper row {% spaceless %}
                {% if widget_name in ['TextInput', 'PasswordInput', 'Select', 'Textarea'] %}
                    form-group
                {% elif widget_name == 'CheckboxInput' %}
                    form-group
                {% endif %}
        {% endspaceless %} {% spaceless %}
            {% if widget.errors %}
                has-danger
            {% endif %}
        {% endspaceless %}">
        {% if widget.errors -%}
            <div class="text-danger widget-error col-form-label-sm" role="alert">
                {{ widget.errors.as_text()|escape|linebreaks }}
            </div>
        {%- endif %}
        {% if widget_name == 'CheckboxInput' -%}
            <div class="col-sm-3 hidden-xs-down"></div>
            <div class="col-sm-9 abc-checkbox">
                {{ widget }}
                <label class="form-check-label col-form-label" for="{{ widget.auto_id }}">
                    {{ widget.label|escape }}
                </label>
            </div>
        {%- elif widget_name in ['Select', 'SelectMultiple'] -%}
            <label class="col-form-label col-xs-12 col-sm-3" for="{{ widget.auto_id }}">
                {{ widget.label|escape }}
            </label>
            <div class="col-xs-12 col-sm-9">
                {{ widget|set_attr('style:width: 100%')|set_attr('placeholder:test123') -}}
            </div>
        {%- else -%}
            <label class="form-check-label col-form-label col-xs-12 col-sm-3" for="{{ widget.auto_id }}">
                {{ widget.label|escape }}
            </label>
            <div class="col-xs-12 col-sm-9">
                {{ widget|add_class('form-control')|set_attr('placeholder:' + widget.help_text|escape) -}}
            </div>
        {%- endif %}
        </div>
    {%- endfor %}
</div>
{%- endmacro %}
