// Variables override
@import "variables.scss";

// Bootswatch variables
// @import "../../../node_modules/bootswatch/paper/_variables.scss";

// Import bootstrap itself
@import "bootstrap-sass/assets/stylesheets/bootstrap.scss";

// Font-awesome
@import "font-awesome/scss/font-awesome.scss";

// Bootstrap ms grid
@import "grid-ms.scss";

// Bootswatch customizations
// @import "../../../node_modules/bootswatch/paper/_bootswatch.scss";

// Import navbar & sidebar adjustments
@import "navbar.scss";
@import "sidebar.scss";

.page-content-wrapper {
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $sidebar-width-desktop + $grid-gutter-width / 2;
  }

  .user-tooltip-template {
    .quote {
      .property, .value {
        vertical-align: top;
        text-align: left;
        padding: $grid-gutter-width / 8;
      }
    }

    .is-admin {
      color: red;
    }
  }

  padding-top: $navbar-height + $navbar-margin-bottom;

  .topic-group-wrapper {
    .panel-body {
      .topic-header-row {
        border-bottom: 2px solid $panel-default-border;
        font-weight: bold;
      }

      .topic-list-item-row {
        border-bottom: 1px solid $panel-default-border;
        padding: $padding-base-vertical 0;

        @include transition(background-color 0.2s linear);

        &:hover {
          background-color: $nav-link-hover-bg;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
