// Variables override
@import "variables.scss";

// Bootswatch variables
// @import "../../../node_modules/bootswatch/paper/_variables.scss";

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.eot");

  /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.woff") format("woff"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.svg#RobotoCondensed") format("svg");

  /* Legacy iOS */
}

// Import bootstrap itself
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Font-awesome
@import "font-awesome/scss/font-awesome.scss";

// select2
@import "node_modules/select2/src/scss/core.scss";
@import "fixes/select2";

// Import local adjustments
@import "forum-user-tooltip";
@import "forum-rich-text-area";
@import "fixes/temporary";

// awesome-bootstrap-checkbox
// @import "fixes/awesome-bootstrap-checkbox";

.navbar {
  .navbar-brand {
  }
}

.navbar-content-spacer {
  // Adjust when necessary
  height: 51px + $grid-gutter-width / 2;
}

.page-content-wrapper {
  .forum-username {
    word-wrap: break-word;

    &.is-admin {
      color: $success;
    }
  }

  .forum-topic-tooltip {
    text-align: left;
  }

  .topicgroup-wrapper {
    margin-bottom: $grid-gutter-width / 2;

    .card-header {
      .card-title {
        margin-bottom: 0;
      }
    }

    .card-block {
      .topic-header-row {
        @include media-breakpoint-down(xs) {
          text-align: center;
        }
        font-weight: bold;
      }

      .topic-list-wrapper {
        margin-bottom: 1rem;
        width: 100%;
        .topic-list-item-row {
          padding-top: .1rem;
          padding-bottom: .1rem;
          @include transition(background-color 0.2s linear);

          &.even {
            background-color: rgba($black, .08);
          }

          &.odd {
            background-color: rgba($black, .11);
          }

          &:hover {
            background-color: $card-cap-bg;
          }

          &:last-child {
            border-bottom: 0;
          }

          .forum-time {
            display: block;
          }

          .topic-link {
            display: block;
            @include media-breakpoint-up(sm) {
              text-align: left;
            }
          }
        }

        .loader-topics-archived-wrapper {
          padding-top: $grid-gutter-width;

          .loader-topics-archived {
            width: 100%;
          }
        }
      }
    }
    .pagination-topicgroup {
      margin-top: $grid-gutter-width / 2;
      .pagination {
        justify-content: center;
      }
    }
  }

  .topic-comment-listing-wrapper,
  .topic-comment-expansion-wrapper {
    .control-buttons {
      margin-bottom: $grid-gutter-width / 2;
    }

    .topic-comment-wrapper {
      margin-bottom: $grid-gutter-width / 2;

      &.is-highlighted {
        .card-header,
        .card-block {
          background-color: lighten($primary, 30%);

          @include transition(background 0s linear);
        }
      }

      .card-header,
      .card-block {
        @include transition(background 1s linear);
        .comment-content {
          padding: $card-spacer-x $card-spacer-y;
          img {
            max-width: 100%;
          }
        }
        .topic-comment-onereply {
          padding: 0 $card-spacer-y;
          text-align: right;
          font-family: "Roboto Condensed";
        }
      }

      .card-header {
        font-family: 'Roboto Condensed';
      }

    }
    .pagination-comments {
      .pagination {
        justify-content: center;
      }
    }
  }

  .topic-comment-expansion-wrapper {
    .group-comments-in-topic {
      .topic-button-wrapper {
        text-align: center;
        margin-bottom: $card-spacer-y;
      }
    }
  }

  .forum-form-simple-wrapper {
    .widget-error,
    .global-error {
      p {
        margin-bottom: 0;
      }
    }
  }
}

blockquote {
  border-left: 2px solid $light;
  background-color: $gray-200;
  padding-left: .5rem;
}
.popover-body .forum-topic-tooltip {
  img {
    max-width: 100%;
  }
}
