// Variables override
@import "variables.scss";

// Bootswatch variables
// @import "../../../node_modules/bootswatch/paper/_variables.scss";

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.eot");

  /* IE9 Compat Modes */
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.woff") format("woff"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/roboto-condensed-v13-latin-ext_latin-regular.svg#RobotoCondensed") format("svg");

  /* Legacy iOS */
}

// Import bootstrap itself
@import "node_modules/bootstrap/scss/bootstrap.scss";

// Font-awesome
@import "font-awesome/scss/font-awesome.scss";

// Import local adjustments
@import "forum-user-tooltip";

.navbar-content-spacer {
  // Adjust when necessary
  height: 51px;
}

.page-content-wrapper {
  .forum-username {
    word-wrap: break-word;

    &.is-admin {
      color: $brand-success;
    }
  }

  .forum-topic-tooltip {
    text-align: left;
  }

  .topic-group-wrapper {
    .card-header {
      .card-title {
        margin-bottom: 0;
      }
    }

    .card-block {
      .topic-header-row {
        font-weight: bold;
      }

      .topic-list-item-row {
        @include transition(background-color 0.2s linear);

        &.even {
          background-color: lighten($nav-link-hover-bg, 4%);
        }

        &.odd {
          background-color: lighten($nav-link-hover-bg, 6%);
        }

        &:hover {
          background-color: $nav-link-hover-bg;
        }

        &:last-child {
          border-bottom: 0;
        }

        .forum-time {
          display: block;
        }

        .topic-link {}
      }

      .loader-topics-archived-wrapper {
        padding-top: $grid-gutter-width;

        .loader-topics-archived {
          width: 100%;
        }
      }
    }
  }

  .topic-comment-listing-wrapper,
  .topic-comment-expansion-wrapper {
    .control-buttons {
      margin-bottom: $grid-gutter-width;
    }

    .topic-comment-wrapper {
      &.is-highlighted {
        .card-header,
        .card-block {
          background-color: lighten($brand-primary, 30%);

          @include transition(background 0s linear);
        }
      }

      .card-header,
      .card-block {
        @include transition(background 1s linear);
      }

      .card-header {
        font-family: 'Roboto Condensed';
      }

      .card-block {
        .topic-comment-onereply {
          text-align: right;
          font-family: "Roboto Condensed";
        }
      }
    }
  }

  .topic-comment-expansion-wrapper {
    .group-comments-in-topic {
      .topic-button-wrapper {
        text-align: center;
        margin-bottom: $card-spacer-y;
      }
    }
  }
}
