/* saira-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira Condensed Regular'), local('SairaCondensed-Regular'),
       url('../fonts/saira-condensed-v5-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-condensed-v5-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* maitree-200 - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 200;
  src: local('Maitree ExtraLight'), local('Maitree-ExtraLight'),
       url('../fonts/maitree-v4-latin-ext_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* maitree-300 - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 300;
  src: local('Maitree Light'), local('Maitree-Light'),
       url('../fonts/maitree-v4-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* maitree-regular - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 400;
  src: local('Maitree'),
       url('../fonts/maitree-v4-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* maitree-500 - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 500;
  src: local('Maitree Medium'), local('Maitree-Medium'),
       url('../fonts/maitree-v4-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* maitree-600 - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 600;
  src: local('Maitree SemiBold'), local('Maitree-SemiBold'),
       url('../fonts/maitree-v4-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* maitree-700 - latin-ext_latin */
@font-face {
  font-family: 'Maitree';
  font-style: normal;
  font-weight: 700;
  src: local('Maitree Bold'), local('Maitree-Bold'),
       url('../fonts/maitree-v4-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/maitree-v4-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* manrope-200 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-regular - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-500 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-300 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-600 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-800 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manrope-700 - latin-ext_latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/manrope-v1-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/manrope-v1-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
