.forum-user-tooltip {
  tr.decorated {
    border-top: 1px solid $gray-light;
  }

  .quote, .ratings {
    .property, .value {
      vertical-align: top;
      text-align: left;
      padding: $grid-gutter-width-base / 8;
    }
  }

  .is-admin, .is-banned {
    color: $brand-danger;
  }

  .ratings .value .average {
    &.rating-positive {
      color: $brand-success;
    }

    &.rating-negative {
      color: $brand-danger;
    }
  }
}
