.topic-comment-wrapper {
  &.is-highlighted {
    .card-header,
    .card-block {
      background-color: lighten($brand-primary, 30%);

      @include transition(background 0s linear);
    }
  }

  .card-header,
  .card-block {
    @include transition(background 1s linear);
  }

  .card-header {
    font-family: 'Roboto Condensed';
  }

  .card-block {
    .topic-comment-oneanswer {
      text-align: right;
      font-family: "Roboto Condensed";
    }
  }
}
