{% from 'default/macros/user-actions.html' import user_actions with context -%}
{% get_my_language_info as current_language -%}
<!DOCTYPE html>
<html lang="{{ current_language.code|escape }}">
<head>
    {{ render_bundle('vendor') }}
    {{ render_bundle('runtime') }}
    {{ render_bundle('common') }}
    <title>{% block title %}{{ django_settings.SITE_NAME }}{% endblock title %}</title>
    {% cache 600 current_language.code -%}
    {% jsmin -%}
    <script type="text/javascript">
    (function(){
        {{ get_django_jscatalog(request=request) }}
    }.bind(window.Forum.django = {}))();
    </script>
    {%- endjsmin %}
    {%- endcache %}
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">

    {% jsmin %}
    <script type="text/javascript">
        // Init the common module
        Forum.common.init({
          languageInfo: {
            code: '{{ current_language.code|escapejs }}',
            localName: '{{ current_language.name_local|escapejs }}',
            name: '{{ current_language.name|escapejs }}'
          },
          urls: {
            userShortData: {
                backend: '{{ url('forum:rest-api:v1-user-short', slug_list='example-slug') }}',
                exampleSlug: 'example-slug'
            },
            mdParser: '{{ url('forum:rest-api:md-parser') }}',
          },
          selectors: {
            navbar: 'body > nav.fixed-top',
            user: {
                tooltipTemplate: '.forum-user-tooltip-template'
            }
          },
          variables: {
            cdnHost: '{{ django_settings.CDN.URL_PREFIX }}'
          },
          scrollSpeed: 300
        });
    </script>
    {{ render_bundle('username') }}
    <script type="text/javascript">
        // Init the username module
        Forum.username.init({})
    </script>
    {% endjsmin %}
    {% block extra_scripts_head %}{% endblock extra_scripts_head %}
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-gradient-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#forum-navbar" aria-controls="forum-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Forum</a>

        <div class="collapse navbar-collapse" id="forum-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </nav>
    <div class="navbar-content-spacer"></div>
    <div class="container-fluid page-content-wrapper">
        <main>
            {% block main_content %}{% endblock main_content %}
        </main>
        <footer class="row">
            <div class="col-12 col-sm-6">
                {{ user_actions(request, is_autofocus=False) }}
            </div>
        </footer>
    </div>
    {% include 'default/include/user-tooltip-template.html' %}
</body>
</html>
