{% load i18n %}
<section class="card topic-comment-wrapper" data-comment-id="{{ model_comment.id }}">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-2 col-sm-1 comment-number-wrapper">
                {% if not is_template %}
                    <a href="{% url 'base:topic-comment-listing' topic_slug=model_comment.topic.slug comment_id=model_comment.id %}" data-link-to="{{ model_comment.id }}" class="comment-number">
                        #{{ model_comment.number }}
                    </a>
                {% else %}
                    <a href="" data-link-to="" class="comment-number">
                        #<span class="comment-number-inside"></span>
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-3 col-sm-2 commenter-user">
                {% include 'default/include/username.html' with model_user=model_comment.user %}
            </div>
            <div class="col-xs-3 col-sm-2 comment-time">
                {% include 'default/include/time.html' with time=model_comment.time %}
            </div>
            <div class="col-xs-4 col-sm-2 comment-previous">
            {% if model_comment.prev_comment %}
                <a href="{% url 'base:topic-comment-listing' topic_slug=model_comment.prev_comment.topic.slug comment_id=model_comment.prev_comment_id %}" data-link-to="{{ model_comment.prev_comment_id }}">
                    {% trans 're:&nbsp;#' %}{{ model_comment.prev_comment.number }} ({{ model_comment.prev_comment.user.username }})
                </a>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-2 col-sm-1 voting-value-wrapper">
                <span class="voting-value {% spaceless %}
                    {% if model_comment.voting_value > 0 %}
                        text-success
                    {% elif model_comment.voting_value < 0 %}
                        text-danger
                    {% endif %}
                {% endspaceless %}">
                    {% if model_comment.voting_value > 0 %}+{% endif %}{{ model_comment.voting_value }}
                </span>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-sm btn-link comment-actions">
                    <span class="fa fa-cog"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text comment-content">
            {{ model_comment.content_html|safe }}
        {% if is_template %}
            {% include 'default/base/include/topic-comment-oneanswer.html' with is_template=is_template %}
        {% elif model_comment.answer_set.all %}
            {% for model_comment in model_comment.answer_set.all %}
            {% include 'default/base/include/topic-comment-oneanswer.html' with model_comment=model_comment %}
            {% endfor %}
        {% endif %}
        </div>
    </div>
</section>
