{% load i18n humanize %}
<div class="panel panel-default topic-group-wrapper topic-type-{{ topic_type }}">
    <div class="panel-heading">
        <h3 class="panel-title">
            {% if topic_type == 'highlighted' %}
                {% trans 'Highlighted topics' %}
            {% elif topic_type == 'normal' %}
                {% trans 'Normal topics' %}
            {% elif topic_type == 'archived' %}
                {% trans 'Archived topics' %}
            {% endif %}
            <span class="glyphicon glyphicon-arrow-up"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row topic-header-row">
            <div class="col-xs-6 col-ms-6">
                {% trans 'Topic' %}
            </div>
            <div class="col-xs-6 col-ms-2 text-center">
                {% trans 'Last commented at' %}
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-ms-2 text-center">
                {% trans 'Last commented by' %}
            </div>
            <div class="col-xs-6 col-ms-2 text-center">
                {% trans 'Total comments' %}
            </div>
        </div>
        {% for model_topic in topic_list %}
        <div class="row topic-list-item-row {% cycle 'odd' 'even' %}">
            <div class="col-xs-6 col-ms-6">
                <a href="" class="topic-link" data-slug="{{ model_topic.slug }}">
                    {# {{ model_topic.name_html|safe }} #}
                    {{ model_topic.name_text }}
                </a>
            </div>
            <div class="col-xs-6 col-ms-2 text-center">
                {% include 'default/include/time.html' with time=model_topic.last_comment.time %}
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-ms-2 text-center">
                {% include 'default/include/username.html' with model_user=model_topic.last_comment.user %}
            </div>
            <div class="col-xs-6 col-ms-2 text-center">
                {{ model_topic.comment_count }}
            </div>
        </div>
        <template class="forum-topic-tooltip-template" data-slug="{{ model_topic.slug }}">
            <div class="forum-topic-tooltip">
                {{ model_topic.last_comment.content_html|safe }}
            </div>
        </template>
        {% endfor %}
        <div class="pagination-wrapper text-center">
        {% include 'default/base/include/topiclist-paginator.html' with page=topic_list %}
        </div>
    </div>
</div>
<script type="text/javascript">
    Forum.topicGroup.add({
        type: '{{ topic_type|escapejs }}',
        selectors: {
            root: '.topic-group-wrapper.topic-type-{{ topic_type }}',
            username: '.topic-list-item-row .username'
        }
    });
</script>
