{% for model_topic in topic_list %}
<div class="row topic-list-item-row {% cycle 'odd' 'even' %}">
    <div class="col-xs-6 col-ms-6">
        <a href="" class="topic-link" data-slug="{{ model_topic.slug }}">
            {# {{ model_topic.name_html|safe }} #}
            {{ model_topic.name_text }}
        </a>
    </div>
    <div class="col-xs-6 col-ms-2 text-center">
        {% include 'default/include/time.html' with time=model_topic.last_comment.time %}
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-ms-2 text-center">
        {% include 'default/include/username.html' with model_user=model_topic.last_comment.user %}
    </div>
    <div class="col-xs-6 col-ms-2 text-center">
        {{ model_topic.comment_count }}
    </div>
</div>
<template class="forum-topic-tooltip-template" data-slug="{{ model_topic.slug }}">
    <div class="forum-topic-tooltip">
        {{ model_topic.last_comment.content_html|safe }}
    </div>
</template>
{% endfor %}
