{% from 'default/macros/login-actions.html' import login_actions with context %}
{% get_my_language_info as current_language %}
<!DOCTYPE html>
<html>
<head>
    {{ render_bundle('vendor') }}
    {{ render_bundle('common') }}
    {{ render_bundle('userName') }}
    <title>{% block title %}{{ django_settings.SITE_NAME }}{% endblock title %}</title>
    <script type="text/javascript" src="{{ url('javascript-catalog') }}"></script>
    <link rel="icon" href="{{ static('favicon.ico') }}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">

    {% jsmin %}
    <script type="text/javascript">
        // Init the common module
        Forum.common.init({
          languageInfo: {
            code: '{{ current_language.code|escapejs }}',
            localName: '{{ current_language.name_local|escapejs }}',
            name: '{{ current_language.name|escapejs }}'
          },
          urls: {
            user: {
                shortData: '{{ url('rest-api:v1-user-short', slug_list='example-slug') }}',
                exampleSlug: 'example-slug'
            }
          },
          selectors: {
            navbar: 'body > nav.navbar-fixed-top',
            user: {
                tooltipTemplate: '.forum-user-tooltip-template'
            }
          },
          scrollSpeed: 300
        });
        // Init the username module
        Forum.userName.init({})
    </script>
    {% endjsmin %}
    {% block extra_scripts_head %}{% endblock extra_scripts_head %}
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <a class="navbar-brand" href="/">Forum</a>
    </nav>
    <div class="navbar-content-spacer"></div>
    <div class="container-fluid page-content-wrapper">
        <main>
            {% block main_content %}{% endblock main_content %}
        </main>
        <footer class="row">
            <div class="col-xs-12 col-sm-6">
                {{ login_actions(request) }}
            </div>
        </footer>
    </div>
    {% include 'default/include/user-tooltip-template.html' %}
</body>
</html>
