{% from 'default/macros/forum-username.html' import forum_username %}
{% from 'default/macros/forum-time.html' import forum_time %}
{% from 'default/base/macros/topic-comment-onereply.html' import topic_comment_onereply %}

{% macro topic_comment_template(comment=None, is_template=False, show_invisible=False) -%}
<section class="card topic-comment-wrapper" data-comment-id="{{ comment.pk if not is_template else ''}}" data-topic-slug="{{ comment.topic.slug if not is_template else '' }}">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-2 col-sm-1 comment-number-wrapper">
                {% if not is_template -%}
                    <a href="{{ url('forum:base:topic-comment-listing', topic_slug=comment.topic.slug, comment_pk=comment.pk) }}" data-link-to="{{ comment.pk }}" class="comment-number">
                        #<span class="comment-number-inside">{{ comment.number }}</span>
                    </a>
                {%- else -%}
                    <a href="" data-link-to="" class="comment-number">
                        #<span class="comment-number-inside"></span>
                    </a>
                {%- endif %}
            </div>
            <div class="col-xs-3 col-sm-2 commenter-user">
                {{ forum_username(user=comment.user|default(None), is_template=is_template) }}
            </div>
            <div class="col-xs-3 col-sm-2 comment-time">
                {{ forum_time(time=comment.time, is_template=is_template) }}
            </div>
            <div class="col-xs-4 col-sm-2 comment-previous">
            {% if not is_template and comment.prev_comment -%}
                {% set is_prev_comment_visible = is_topic_comment_visible(comment=comment.prev_comment, show_invisible=show_invisible, request=request, cache_key='topic-comment-listing') -%}
                {% if is_prev_comment_visible -%}
                    <a href="{{ url('forum:base:topic-comment-listing', topic_slug=comment.prev_comment.topic.slug, comment_pk=comment.prev_comment_id) }}" data-link-to="{{ comment.prev_comment_id }}">
                        {{- _('re:&nbsp;#') -}}
                        {{- comment.prev_comment.number -}}
                    </a>
                    ({{- forum_username(user=comment.prev_comment.user|default(None), is_template=is_template) -}})
                {%- endif %}
            {%- else -%}
                &nbsp;
            {%- endif %}
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-2 col-sm-1 voting-value-wrapper">
                <span class="voting-value {% spaceless %}
                    {% if not is_template %}
                        {% if comment.voting_value > 0 %}
                            text-success
                        {% elif comment.voting_value < 0 %}
                            text-danger
                        {% endif %}
                    {% endif %}
                {% endspaceless %}">
                    {% if not is_template %}
                        {% if comment.voting_value > 0 %}+{% endif %}{{ comment.voting_value }}
                    {% endif %}
                </span>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-sm btn-link comment-actions">
                    <span class="fa fa-cog"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="card-text comment-content">
            {{ (comment.content_html if not is_template else '')|safe }}
        {% if is_template -%}
            {{ topic_comment_onereply(is_template=is_template) }}
        {%- elif comment.reply_set.all() -%}
            {% for comment in comment.reply_set.all() -%}
            {% set is_onereply_visible = is_topic_comment_visible(comment=comment, show_invisible=show_invisible, request=request, cache_key='topic-comment-listing') %}
            {% if is_onereply_visible -%}
                {{ topic_comment_onereply(comment=comment, is_template=is_template) }}
            {%- endif %}
            {%- endfor %}
        {%- endif %}
        </div>
    </div>
</section>
{%- endmacro %}
