{% from 'default/base/macros/topic-group-page.html' import topic_group_page %}
{% from 'default/macros/paginator-generic.html' import paginator_generic %}

{% macro topic_group(topic_list, topic_type) -%}
<div class="card topic-group-wrapper topic-type-{{ topic_type }}">
    <div class="card-header">
        <h4 class="card-title">
            {% if topic_type == 'highlighted' %}
                {{ _('Highlighted topics') }}
            {% elif topic_type == 'normal' %}
                {{ _('Normal topics') }}
            {% elif topic_type == 'archived' %}
                {{ _('Archived topics') }}
            {% endif %}
        </h4>
    </div>
    <div class="card-block">
        <div class="card-text">
            <div class="row topic-header-row">
                <div class="col-xs-6 col-sm-6">
                    {{ _('Topic') }}
                </div>
                <div class="col-xs-6 col-sm-2 text-center">
                    {{ _('Last commented at') }}
                </div>
                <div class="clearfix visible-xs-block"></div>
                <div class="col-xs-6 col-sm-2 text-center">
                    {{ _('Last commented by') }}
                </div>
                <div class="col-xs-6 col-sm-2 text-center">
                    {{ _('Total comments') }}
                </div>
            </div>
            <section class="topic-list-wrapper">
                {{ topic_group_page(topic_list=topic_list) }}
            </section>
            <section class="pagination-wrapper text-center">
                {{ paginator_generic(page=topic_list) }}
            </section>
            {% if topic_list == False %}
            <section class="loader-topics-archived-wrapper text-center">
                <button class="loader-topics-archived btn btn-primary">
                    <span class="fa fa-arrow-circle-o-down" aria-hidden="true"></span>
                    {{ _('Load archived topics') }}
                </button>
            </section>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    Forum.topicGroup.add({
        topicType: '{{ topic_type|escapejs }}',
        urls: {
            topicListPage: '{{ url('forum:rest-api:v1-topic-list-page') }}'
            {% if topic_list is none %}
            , archivedTopicsStart: '{{ url('forum:rest-api:v1-archived-topics-start') }}'
            {% endif %}
        },
        selectors: {
            root: '.topic-group-wrapper.topic-type-{{ topic_type }}',
            username: '.topic-list-item-row .username',
            paginationWrapper: '.pagination-wrapper',
            paginator: 'ul.pagination',
            topicListWrapper: '.topic-list-wrapper'
            {%- if topic_list is none -%}
            ,
            loaderTopicsArchivedWrapper: '.loader-topics-archived-wrapper',
            buttonTopicsArchivedLoad: '.loader-topics-archived'
            {%- endif %}
        },
        pageMax: {{ 0 if topic_list is none else topic_list.paginator.num_pages }},
    });
</script>
{%- endmacro %}
