{% load pipeline staticfiles require i18n settings_getter %}
{% get_current_language as LANGUAGE_CODE  %}
{% get_language_info for LANGUAGE_CODE as current_language %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% get_setting SITE_NAME %}{% endblock title %}</title>
    {% stylesheet 'skins/default/scss/base' %}
    {% require_module 'default/js/common' %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script type="text/javascript">
    require(['common'], function (common) {
      common.init({
        languageInfo: {
            code: '{{ current_language.code|escapejs }}',
            localName: '{{ current_language.name_local|escapejs }}',
            name: '{{ current_language.name|escapejs }}'
        }
      });
    });
    </script>
    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="main-sidebar-wrapper"></div>
<div class="container-fluid main-content-wrapper">
    {% block main_content %}{% endblock main_content %}
</div>
</body>
</html>
