// This has been fixed in the newest bootstrap but because of awesome-bootstrap-checkbox, it can't be installed
.fade.show {
  opacity: 1;
}

// http://stackoverflow.com/a/9814390
small, .small {
  display: inline-block;
}

// Seems to be missing from V4 at 2017-01-14
.text-center {
  text-align: center;
}
